* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lavender;
}
#flask::before {
  display:inline;
  content: '';
  display:inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(./labimages/flask.png);
  background-size: contain;
}

#flask {
  display: flex;
}

header {
  display: flex;     
  /* 이렇게 flex로 header 안에 nav를 감싸야 한 줄 안에 들어감 title과 menu가 들어감.  추가로 login버튼과 register버튼도 같이 감싸야함. */
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding: 2rem 2rem;


}

nav {
  display: flex;
  justify-content: center;

}
li {
  display: inline;
  padding-right: 2rem;
}
.small {
  display: flex; 
  justify-content: end;
  align-content: center;


  background-color: rgb(169, 119, 216);
  border-radius: 4px;
  size: 1.25rem;
  font-size: 1.25em;
  border-color: rgb(169, 119, 216);
}

.login  {
  padding-left: 20rem;
  justify-content: end;
}

#main {    /* article들과 이미지 포함  */ 
  display: flex;
  justify-content: space-between;
  padding-left: 20rem;
  padding-top: 3rem;
  align-items: flex-start;
  flex-direction: row;

}
section {    /* article 부분들 + 버튼들 */
  display: flex;


}



.welcome {
  font-size: 1.2rem;
  color: rgb(153, 66, 190);
}

.article1 {
  padding-top: 1.5rem;
  font-size: 2rem;
  max-width: 30rem;
  color: rgb(204, 121, 197);
  font-weight: 800;
}
.article2 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  max-width: 30rem;
  padding-bottom: 1.5rem;
  
}

.big {
  display: flex; 
  justify-content: end;
  align-content: center;


  background-color: rgb(169, 119, 216);
  border-radius: 4px;
  size: 1.5rem;
  font-size: 1.4em;
  border-color: rgb(169, 119, 216);
}
.explore {
  display: flex;
  padding-left: 20rem;


}
.watchvideo {
  display: flex;
  padding-left: 20rem;

}


.labimage {
  display: flex;
  justify-content: start;
  margin-bottom: 0.5rem;
  flex-direction: row;
  max-height: 20rem;
  max-width: 400px;
  margin-right: 0;
}
/**/